.card {
    position: relative;
    height: 350px;
    width: 250px;
    background-color: #bada55;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow:
      0 0 0 2px $primary_color_bg,
      0 0 0 6px $primary_color_border,
      0 0 0 8px darken($primary_color_border, 10);
    .head, .body, .footer{
      width: 100%;
    }
    .head {
      height: 15%;
      background-color: $primary_color_bg;
    }
    .body {
      height: 70%;
       background-color: white;
    }
    .footer {
      height: 15%;
      // background-color: tomato;
    }
  }
  .body {
    background-image: url('http://placehold.it/500');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  .head {
    position: relative;
    h1 {
      font-size: 1.5rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      padding: 0;
      color: $primary_color_font;
    }
  }
  .footer{
    display: flex;
    position: relative;
    .attack-point, 
    .shield {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      h2 {
        color: $primary_color_font;
      }
    }
    .attack-point {
      background-color: $primary_color_bg;
    }
    .shield {
      background-color: #bada55;
    }
    &::before {
      content: "";
      height: 50px;
      width: 50px;
      background-color: coral;
      position: absolute;
      top: -50%;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 50%;
      border: 2px solid lighten(coral, 10);
    }
  }